.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.card{
    width: 400px;
    background: #fff;
    color: #5b6ee1;
    cursor: pointer;
    user-select: none; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

button {
    color: #5b6ee1;
}

.card:hover, .card button:hover, .card:hover button {
    background: #5b6ee1;
    color: #fff;
}

hr {
    width: 100%;
    border-color: #fff;
}

h5 {
    width: 25vw;
}